 <!--
    This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-2022 POKETUBE CONTRUBUTORS (https://github.com/iamashley0/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
-->
<!DOCTYPE html>
  <% if (e === false) { %>
    
 <% } %>
  <% if (!e) { %>
<meta content="<%=video.Title%>" name=title>
<link href=https://poketube.fun/css/yt-ukraine.svg rel=icon>
<meta content=player name=twitter:card>
<meta content="<%=title.channelTitle%>" name=twitter:description>
<meta content=@youtube name=twitter:site>
<meta content="https://poketalebot.com/youtube/watch?v=<%=title.id%>" name=twitter:url>
<meta content="<%=video.Title%>" name=twitter:title>
<meta content="https://i.ytimg.com/vi/<%=title.id%>/maxresdefault.jpg" name=twitter:image>
<meta content="https://www.youtube.com/embed/<%=title.id%>" name=twitter:player>
<meta content=1280 name=twitter:player:width>
<meta content="Poketube is a private youtube player thats focusted on privacy. No javascript needed!" property=twitter:description>
<meta content=720 name=twitter:player:height>
<link href="https://poketalebot.com/youtube/watch?v=<%=title.id%>" itemprop=url>
<link href="http://www.youtube.com/channel/<%=title.channelId%>" itemprop=url>
    <% } %>
    <title> <%=video.Title%> - PokeTube</title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel=stylesheet>
<link href=https://cdn.poketalebot.com/404/v2.css rel=stylesheet>
<link href=/css/app.main.css rel=stylesheet>
<style>
   a.class:hover {
    text-decoration:underline;
    font-weight:bold
}
</style>
  <body>
     <center>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Sigmar+One&display=swap" rel=stylesheet>
    <link href=https://pro.fontawesome.com/releases/v5.15.3/css/all.css rel=stylesheet>
    <center>
        <nav>
            <div class=left><a class="class" href="https://stopwarukraine.com/" style=font-family:Inter,sans-serif;color:#fff><span><i class="fa-youtube fab" style=color:#fff></i></span><span style="text-decoration:inherit;background:linear-gradient(to right, rgba(255,215,0,1) 50%, rgba(0,87,184,1) 50%);-webkit-text-fill-color:transparent;-webkit-background-clip:text;">PokeTube</span> 🇺🇦 </a> <a style="color:red;" href="/domains">Domains!</a></div>               

            <div class=middle>
                <form action=/api/search><input class=search-bar id=fname name=query style=color:#fff;font-family:Roboto,sans-serif> <button class="btn btn-success" type=submit><i class="fas fa-search"></i></button></form>
            </div>
            <div class=right><a href="/video/upload?from="><i class="fas fa-video"></i></a> <a href="https://git.poketalebot.org"><i class="fab fa-git-alt"></i></a> <a href="https://github.com/iamashley0/poketube/issues"><i class="fas fa-bug"></i></a> <a href="https://github.com/iamashley0/poketube/pulls"><i class="fal fa-code-merge"></i></a></div>
        </nav>
        <section class=youtube-video>
            <div class=screen>
                <div class=videoOuterContainer-3x2_n9>
                     <div class=videoMiddleContainer-2yUOUz>
                        <div class=videoInnerContainer-2IHZcN>
                        <video autoplay class=video-3DYbjh controls name=media>
                        <source src="<%=url%>" type=video/mp4>
                        </video>
                        <br></center>
<center>
    <h1 style="font-family:Inter,sans-serif;font-weight:700;white-space:yes;font-size:45"><b> <%=video.Title%> </b></h1>
    <a href="/channel?id=<%=title.Channel.id%>" style=color:#fff>
        <%=title.Channel.Name%>
    </a>
</center>
<hr>
<center>
    <center>
        <center>
            <center>
                <p><i class="fas fa-calendar-alt"></i>
                    <%=date%>|<i class="fas fa-chart-bar"></i>
                        <%=engagement.viewCount.toLocaleString()%> Views| <i class="fas fa-thumbs-up"></i>
                            <%=engagement.likes.toLocaleString()%> <i class="fas fa-thumbs-down"></i>
                                <%=engagement.dislikes.toLocaleString()%><br>
                                    <p><i class="fas fa-shield-alt"></i> Youtube wont know you are whatching this video (also your fbi guy wont know too)</p><noscript><p><i class="fas fa-code"></i> Hey,you are on no script mode rn. Yes,Poketube does not require billion lame scripts to run :P</p></noscript>
                                    <hr>
                                    <h3 style="color:#fff;font-family:Inter,sans-serif;font-weight:700;white-space:yes;">Video Description</h3>
                                    <center>
                                                                        <% if (title.Description) { %>
                                        <p>
                                            <%-title.Description.replace(/\n/g, " <br> ")%></center>
                                                                                    <% } %>

                                    <% if (lyrics) { %>
                                        <hr><br>
                                <h1 style="font-family: 'Inter', sans-serif;font-weight: bold;white-space:yes;font-size:45;"> Music Lyrics 
                        </h1>            
                    <details style="color=#fff">
                        <summary style="color=#fff"></summary>
                        <p style="color: white;">
                                        <p style=color:#fff>
                                            <%-lyrics%>
                                        </p>                    </details>
                                        <% } %>
                                                                     </center></center></center></center></center>             
  </body>
 
